{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Favikol Groupe SARLU</title>
</head>
<body>
    <header>
        <a href="#" class="logo"><span>F</span>avikol Groupe SARLU</a>
        <div class="menuToggle" onclick="toggleMenu();"></div>
        <ul class="navbar">
            <li><a href="#banniere" onclick="toggleMenu();">Accueil</a></li>
            <li><a href="#apropos" onclick="toggleMenu();">Domaine</a></li>
            <li><a href="#Ventes" onclick="toggleMenu();">A propos</a></li>
            <li><a href="#Ventes" onclick="toggleMenu();">Menu</a></li>
            <li><a href="#temoignage" onclick="toggleMenu();">Contact</a></li>
            <li><a href="#contact" class="btn-reserve" onclick="toggleMenu();">Reservation</a></li>
        </ul>
    </header>
    <section class="banniere" id="banniere">
        <div class="contenu">
            <h2>Bienvenue chez Favikol Groupe SARLU</h2>
            <p>- Votre partenaire en solutions financières agricoles

                Chez Favikol Groupe SARLU, nous comprenons les besoins uniques des agriculteurs et des acteurs du secteur agricole. Nous vous proposons des solutions de crédit adaptées pour soutenir vos projets : modernisation de vos équipements, achat de terres, ou encore investissements dans des pratiques durables.
                .</p>
                <a href="#" class="btn1">Notre Domaine</a>
                <a href="#" class="btn2">Reservation</a>
        </div>
    </section>
    <section class="apropos" id="apropos">
        <div class="row">
            <div class="col50">
                <h2 class="titre-texte"><span>A</span>propos de Nous</h2>
                    <p> Présentation de Favikol Groupe SARLU

                        Bienvenue sur la page d'accueil de Favikol Groupe SARLU, votre partenaire privilégié dans la transformation de la mangue et des produits agricoles. Située au cœur de Friguiagbe en Guinée, notre entreprise se spécialise dans le séchage semi-industriel de la mangue, garantissant ainsi des saveurs authentiques et une qualité irréprochable.
                        
                        Nos Méthodes de Séchage Innovantes
                        
                        Chez Favikol, nous avons développé des méthodes de séchage modernes et efficaces qui préservent la texture, le goût et les nutriments de la mangue. Grâce à notre équipement semi-industriel de pointe, nous sommes en mesure de :
                        
                        - Optimiser le processus de séchage: Notre technologie de séchage permet d’atteindre un équilibre parfait entre le temps de séchage et la qualité du produit final. Cela garantit que chaque morceau de mangue conserve ses propriétés organoleptiques.
                        
                        - Assurer une production durable : Nous nous engageons à minimiser notre empreinte écologique en utilisant des techniques de séchage qui consomment moins d’énergie tout en maximisant l'efficacité.
                        
                        Respect des Normes HACCP
                        
                        La qualité et la sécurité alimentaire sont au cœur de nos préoccupations. C'est pourquoi nous mettons en œuvre le système HACCP (Hazard Analysis and Critical Control Points) dans toutes nos opérations. Cette approche se traduit par :
                        
                        - Contrôles rigoureux: Chaque étape de notre processus de transformation est soigneusement surveillée pour identifier et maîtriser les risques potentiels liés à la sécurité alimentaire.
                        
                        - Formation du personnel: Nos équipes sont formées aux meilleures pratiques d'hygiène et de sécurité alimentaire, afin d’assurer que chaque produit qui quitte notre établissement respecte des standards de qualité élevés.
                        
                        Conservation des Produits
                        
                        Au-delà du séchage, nous plaçons un grand intérêt dans la conservation de nos produits. Nous utilisons des techniques qui permettent de prolonger la durée de vie de notre mangue séchée tout en préservant ses qualités nutritionnelles et organoleptiques. Nos produits sont non seulement savoureux, mais également sains, répondant aux attentes des consommateurs modernes.
                        
                         Conclusion
                        
                        Chez Favikol Groupe SARLU, nous nous engageons à fournir une mangue séchée de haute qualité, respectueuse de l’environnement et conforme aux normes les plus strictes. Notre passion pour le goût, notre souci du détail et notre engagement envers la sécurité alimentaire nous distinguent sur le marché. Explorez notre gamme de produits et rejoignez-nous dans notre quête d'une alimentation saine et délicieuse !
                        
                        ---
                        
                        Pour toute question ou demande d'information supplémentaire, n'hésitez pas à nous contacter. Nous serions ravis de vous accompagner dans la découverte de nos produits.
                    </p>
            </div>
            <div class="col50">
                <div class="img">
                    <img src="{% static 'images/logo.png.jpg' %}" alt="image">
                </div>
            </div>
        </div>
    </section>
    <section class="Ventes" id="Ventes">
        <div class="titre">
            <h2 class="titre-texte"><span>A</span>nanas</h2>
            <p> Découvrez les bienfaits nutritifs de l'ananas séché baronne de Guinée, un choix idéal pour une alimentation saine et savoureuse. Riches en vitamines C et A, ces morceaux d’ananas déshydratés renforcent votre système immunitaire et favorisent une peau éclatante. La présence de bromélaïne, une enzyme naturelle, aide à la digestion, réduisant ainsi les inconforts gastriques.
                En plus d'une saveur sucrée et délicate, l'ananas séché est une excellente source de fibres, favorisant la satiété et le bien-être intestinal. Pratique et nutritif, il constitue un en-cas délicieux que vous pouvez emporter partout. 

Parfait dans les salades, les céréales ou en tant que collation, cet ananas déshydraté vous permet de bénéficier des bienfaits tropicaux tout au long de l’année. Optez pour l'ananas séché baronne de Guinée, un véritable concentré de douceur et de nutriments, qui séduira vos clients tout en prenant soin de leur santé (ananas séché)
            </p>
        </div>
        <div class="contenu">
            <div class="box">
                <div class="imbox">
                    <img src="{% static 'images/anna.jpg' %}" alt="">
                </div>
                <div class="text">
                    <h3>Début</h3>
                </div>

            </div>
            <div class="box">
                <div class="imbox">
                    <img src="{% static 'images/ana.jpg' %}" alt="">
                </div>
                <div class="text">
                    <h3>Début</h3>
                </div>
    
            </div>
            <div class="box">
                <div class="imbox">
                    <img src="{% static 'images/ananas.jpg' %}" alt="">
                </div>
                <div class="text">
                    <h3>Ananas</h3>
                </div>
    
            </div>
            <div class="box">
                <div class="imbox">
                    <img src="{% static 'images/images2.png'%}" alt="">
                </div>
                <div class="text">
                    <h3>Ananas</h3>
                </div>
    
            </div>
            



    </div>
    <div class="titre">
        <a href="#" class="btn1">Voir Plus</a>
    </div>
    </section>
    <section class="Ventes" id="Ventes">
        <div class="titre">
            <h2 class="titre-texte"><span>L</span>ILAH FINANCE</h2>
            <p> Notre accompagnement villageois d'épargne et de crédit vise à promouvoir l’autonomie financière et le développement économique local. En offrant des services financiers accessibles aux populations rurales, nous favorisons l'épargne et le microcrédit, permettant ainsi aux ménages d'investir dans des projets générateurs de revenus.

                Notre mission est de renforcer la résilience des communautés en facilitant l’accès à des ressources financières adaptées à leurs besoins. Nous sensibilisons également les bénéficiaires à la gestion financière responsable, contribuant ainsi à une amélioration durable de leurs conditions de vie.
                
                L'impact de notre initiative se traduit par une augmentation de l'autonomie financière des participants, la création d'emplois locaux et le renforcement de la cohésion sociale. En consolidant les compétences économiques des villages, nous œuvrons pour un développement inclusif et durable qui bénéfice à l'ensemble de la communauté. Ensemble, nous construisons un avenir où chacun a les moyens de réaliser ses ambitions.
            </p>
        </div>
        <div class="contenu">
            <div class="box">
                <div class="imbox">
                    <img src="{% static 'images/fina.jpg'%}" alt="">
                </div>
                <div class="text">
                    <h3>Tontine journalière</h3>
                </div>

            </div>
            <div class="box">
                <div class="imbox">
                    <img src="{% static 'images/finacee0.png'%}" alt="">
                </div>
                <div class="text">
                    <h3>Transactions</h3>
                </div>
    
            </div>
            
            <div class="box">
                <div class="imbox">
                    <img src="{% static 'images/frank.jpg'%}" alt="">
                </div>
                <div class="text">
                    <h3>Associations</h3>
                </div>
    
            </div>
            <div class="box">
                <div class="imbox">
                    <img src="{% static 'images/hq720.jpg'%}" alt="">
                </div>
                <div class="text">
                    <h3>Dépôt-Rétrait</h3>
                </div>
    
            </div>

            <div class="titre">
                <a href="#" class="btn1">Voir Plus</a>
            </div>
            </section>
            <section class="Ventes" id="Ventes">
                <div class="titre">
                    <h2 class="titre-texte"><span>M</span>angue Séchée</h2>
                    <p> Découvrez notre mangue séchée Bio de Guinée, un véritable trésor gustatif et nutritionnel. Cultivées sur les terres fertiles de Guinée, nos mangues sont soigneusement sélectionnées pour leur qualité exceptionnelle. Elles sont récoltées à pleine maturité, garantissant un goût doux et juteux, avant d'être délicatement séchées au soleil, préservant ainsi leurs arômes authentiques et leurs nutriments essentiels.

                        Ce choix biologique garantit l'absence de pesticides et d'additifs artificiels, offrant une collation à la fois saine et respectueuse de l'environnement. Riches en vitamines A et C, ainsi qu'en fibres, nos mangues séchées sont non seulement délicieuses, mais aussi bénéfiques pour la santé digestive et le système immunitaire.
                        
                        Polyvalentes, elles peuvent être dégustées seules, ajoutées à vos céréales, incorporées dans des smoothies ou utilisées en pâtisserie. En optant pour notre mangue séchée Bio de Guinée, vous soutenez également les agriculteurs locaux engagés dans une agriculture durable.
                        
                        Faites le choix de la qualité et du goût avec notre mangue séchée Bio : une invitation à savourer une douceur naturelle tout en respectant la planète. Laissez-vous séduire par cette délicieuse expérience, un véritable symbole du savoir-faire guinéen (pour la mangue)
                    </p>
                </div>
                <div class="contenu">
                    <div class="box">
                        <div class="imbox">
                            <img src="{% static 'images/mangue.png.jpg'%}" alt="">
                        </div>
                        <div class="text">
                            <h3>Mangue</h3>
                        </div>
        
                    </div>
                    <div class="box">
                        <div class="imbox">
                            <img src="{% static 'images/images4.png'%}" alt="">
                        </div>
                        <div class="text">
                            <h3>Mangue séchée</h3>
                        </div>
            
                    </div>
                    
                    <div class="box">
                        <div class="imbox">
                            <img src="{% static 'images/images4.png'%}" alt="">
                        </div>
                        <div class="text">
                            <h3>Mangue séchée</h3>
                        </div>
            
                    </div>
                    <div class="box">
                        <div class="imbox">
                            <img src="{% static 'images/images4.png'%}" alt="">
                        </div>
                        <div class="text">
                            <h3>Mangue séchée</h3>
                        </div>
            

    </div>
    <section>
    <section class="temoignage" id="temoignage">
        <div class="titre blanc">
            <h2 class="titre-texte">Que Disent Nos<span>C</span>lients</h2>
            <p>J’ai eu la chance de découvrir  il y a quelques mois, et depuis, mon expérience a été incroyable. Dès le premier contact, j’ai été accueilli avec professionnalisme et bienveillance. L’équipe a pris le temps de comprendre mes besoins et de me proposer une solution parfaitement adaptée.

                Le service fourni a dépassé mes attentes : réactivité, qualité, et une attention aux détails qui fait toute la différence. Chaque interaction a été fluide et agréable, et j’ai ressenti un véritable engagement à offrir le meilleur service possible.
                
                Aujourd’hui, je ne peux que recommander  à toute personne recherchant . C’est une entreprise qui mérite toute votre confiance. Merci encore pour cette belle expérience, je reviendrai sans hésiter !</p>
        </div>
        <div class="contenu">
            <div class="box">
                <div class="imbox">
                    <img src="{% static 'images/fem.jpg'%}" alt="">
                </div>
                <div class="text">
                    <p>Je suis absolument ravi de mon expérience avec Favikol Groupe SARLU. Dès le premier contact, j'ai été impressionné par leur professionnalisme et leur écoute. Le service fourni a dépassé mes attentes et m'a réellement facilité la vie. Je recommande vivement à toute personne cherchant [produit/service] de faire confiance à cette équipe passionnée et compétente. Merci encore pour cette belle expérience !"</p>
                    <h3>Favikol</h3>
                </div>

            </div>
            <div class="box">
                <div class="imbox">
                    <img src="{% static 'images/ff.jpg'%}" alt="">
                </div>
                <div class="text">
                    <p>Je suis absolument ravi de mon expérience avec Favikol Groupe SARLU. Dès le premier contact, j'ai été impressionné par leur professionnalisme et leur écoute. Le service fourni a dépassé mes attentes et m'a réellement facilité la vie. Je recommande vivement à toute personne cherchant [produit/service] de faire confiance à cette équipe passionnée et compétente. Merci encore pour cette belle expérience !"</p>
                    <h3>Fassou Frank Lamah</h3>
                </div>
    
            </div>
            
            <div class="box">
                <div class="imbox">
                    <img src="{% static 'images/augstin.jpg'%}" alt="">
                </div>
                <div class="text">
                    <p>Je suis vraiment reconnaissant pour l'expérience que j'ai eu avec Favikol Groupe SARLU. Dès le premier contact, j'ai été impressionné par leur professionnalisme et leur écoute. Le service fourni a dépassé mes attentes et m'a réellement facilité la vie. Je recommande vivement à toute personne cherchant [produit/service] de faire confiance à cette équipe passionnée et compétente. Merci encore pour cette belle expérience !"</p>
                    <h3>Augustin Koulemou</h3>
                </div>

            </div>
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="titre noir">
            <h2 class="titre-tex"><span>C</span>ontact</h2>
            <p>Dans les toutes premières minutes j'ai su que ce monsieur est une bombe. Tout simplement formidable </p>
        </div>
        <form action="{% url 'send_email'  %}">
        
            <div class="contactform">
                <h3>Envoyer un message</h3>
                <div class="inputboite">
                    <input type="text" placeholder="Nom">
                </div>
                <div class="inputboite">
                    <input type="text" placeholder="email">
                    
                </div>
                <div class="inputboite">
                    <textarea placeholder="message"></textarea>
                </div>
                <div class="inputboite">
                    <input type="submit" value="envpyer">
                </div>
            </div>
        </form> 
    </section>
    <div class="copyright">
        <p>copyright 2025 <a href="https://web.facebook.com/favikolgroupe">Favikol-Group</a>Tous droits reservé</p>
    </div>
    <script type="text/javascript">
        window.addEventListener('scroll', function(){
            const header=document.querySelector('header');
            header.classList.toggle("sticky", window.scrollY > 0 );
        });
        function toggleMenu(){
            const tmenuToggle = document.querySelector('.menuToggle');
            const navbar = document.querySelector('.navbar');
            navbar.classList.toggle('active');
            menuToggle.classList.toggle('active');
        }
    </script>
</body>
</html>